#root {
  width: 100%;
  height: 100%;
}

.board {
  display: flex;
  flex-direction: column;
}

.boardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boardBody > tr {
  display: flex;
  justify-content: space-between;
}

.cell {
  border-width: 10px;
  border-color: black;
  border-style: solid;

  flex-grow: 1;
  font-size: 1rem;
}

.selected {
  background-color: #8080FF;
}

.invalid {
  background-color: #FF8080;
}
