#root {
  width: 100%;
  height: 100%;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  width: 18em;
  height: 18em;

  background-color: white;

  display: flex;
}

.boardBody {
  flex: auto;

  display: flex;
  flex-direction: column;
}

.boardBody > tr {
  flex: 1 1 11.1%;
  display: flex;
}

.cell {
  text-align: center;
  border-width: 1px;
  border-color: black;
  border-style: solid;

  flex: 1 1 11.1%;
}
.cell:nth-child(3n - 2) {
  border-left-width: 10px;
}
.cell:nth-child(9) {
  border-right-width: 10px;
}
tr:nth-child(3n - 2) > .cell {
  border-top-width: 10px;
}
tr:nth-child(9) > .cell {
  border-bottom-width: 10px;
}

.cell > p {
  margin: 0;
}

.permanent {
  color: black;
}

.temporary {
  color: #606060;
}

.selected {
  background-color: var(--primary-color);
}

.invalid {
  background-color: #FF8080;
}
