#root {
  width: 100%;
  height: 100%;
}

.board {
  display: flex;
  flex-direction: column;
}

.boardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boardBody > tr {
  display: flex;
  justify-content: space-between;
}

.cell {
  border-width: 1px;
  border-color: black;
  border-style: solid;

  flex-grow: 1;
  font-size: 1rem;
}
.cell:nth-child(3n - 2) {
  border-left-width: 10px;
}
.cell:nth-child(9) {
  border-right-width: 10px;
}
tr:nth-child(3n - 2) > .cell {
  border-top-width: 10px;
}
tr:nth-child(9) > .cell {
  border-bottom-width: 10px;
}

.permanent {
  color: black;
}

.temporary {
  color: #404040;
}

.selected {
  background-color: #8080FF;
}

.invalid {
  background-color: #FF8080;
}
